{% extends 'base_layout.html' %}

{% block title %} Quizzes {% endblock %}


{% block content %}
<div class="container mt-4">
    <h2 class="mb-3"> Quizzes </h2>
    <div class="row">
        {% for quiz in quizzes %}
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <h5>{{quiz.quiz_name}}</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-purple text-white">
                                <th>ID</th>
                                <th>Que. Title</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for que in quiz.questions %}
                            <tr>
                                <td>{{ que.id }}</td>
                                <td>{{ que.que_title }}</td>
                                <td>
                                    <a class="btn btn-sm btn-primary">Edit</a>
                                    <a class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ url_for('admin.add_question', quiz_id=quiz.id) }}" class="btn btn-primary">+ Add Que.</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-end">
        <a href="{{ url_for('admin.add_quiz', chapter_id=chapter.id) }}" class="btn btn-primary">+ Add New Quiz</a>
    </div>
</div>
{% endblock %}