{% extends 'base_layout/base_admin.html' %}

{% block title %} Quizzes {% endblock %}


{% block quizzes %}
<div class="container mt-4">
    <h2 class="mb-3"> Quizzes </h2>
    <div class="row">
        {% for chapter in chapters %}
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <h5>{{chapter.name}}</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-purple text-white">
                                <th>ID</th>
                                <th>Que. Title</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for que in chapter.questions %}
                            <tr>
                                <td>{{ que.question_number }}</td>
                                <td>{{ que.que_title }}</td>
                                <td>
                                    <a href="{{ url_for('admin.edit_question', chapter_id=que.chapter_id, question_number=que.question_number) }}" class="btn btn-sm btn-primary">Edit</a>
                                    <form action="{{ url_for('admin.delete_question', chapter_id=que.chapter_id, question_number=que.question_number) }}" method="POST" style="display:inline;">
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ url_for('admin.add_question',chapter_id=chapter.id) }}" class="btn btn-primary">+ Add Question</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}