.navbg {
    background-color: #7B25EB;
}
.nav-link{
    color: white !important;
    
}
.welcome-text {
    font-weight: bold;
    color: white;
}
/* .heading {
    margin: 20px;
} */
 .bg-purple {
    background-color: #7B25EB;
}